<ngx-smart-login
  [passwordLabel]="passwordLabel"
  [userLabel]="userLabel"
  [buttonLabel]="buttonLabel"
  [recoveryLabel]="recoveryLabel"
  [validatorLabel]="validatorLabel"
  [responseMsg]="responseMsg"
  [mainTitle]="mainTitle"
  [area]="area"
  [validators]="validators"
  [leasingReanting]="leasingReanting"
  [apiUrl]="apiUrl"
  [recoveryRoute]="recoveryRoute"
  [maxlengthUser]="maxlengthUser"
  [minlengthUser]="minlengthUser"
  [maxlengthPassword]="maxlengthPassword"
  [minlengthPassword]="minlengthPassword"
  [userPlaceholder]="userPlaceholder"
  [passwordPlaceholder]="passwordPlaceholder"
  (manageData)="manageData($event)"
></ngx-smart-login>
