<div class="mainTitle">
  <p>
    {{ mainTitle }}
  </p>
</div>
<div class="san-border">
  <form [formGroup]="formCreatePassword">
    <div class="inputSize">
      <san-presn-input
        maxlength="{{ maxlengthUser }}"
        minlength="{{ minlengthUser }}"
        formControlName="user"
        [label]="userLabel"
        [placeholder]="userPlaceholder"
      ></san-presn-input>
      <small
        class="validate-form"
        *ngIf="
          formCreatePassword.get('user').touched &&
          formCreatePassword.get('user').hasError('alphanumeric')
        "
        ><i class="material-icons">error_outline</i>{{ responseMsg }}</small
      >
    </div>
    <div class="inputSize">
      <san-presn-input
        maxlength="{{ maxlengthPassword }}"
        minlength="{{ minlengthPassword }}"
        formControlName="password"
        [label]="passwordLabel"
        [placeholder]="passwordPlaceholder"
      ></san-presn-input>
      <small class="info-form">{{ passwordValidatorLabel }}</small>
    </div>
    <div class="inputSize">
      <san-presn-input
        maxlength="{{ maxlengthConfirmation }}"
        minlength="{{ minlengthConfirmation }}"
        formControlName="confirmation"
        [label]="confirmationLabel"
        [placeholder]="confirmationPlaceholder"
      ></san-presn-input>
      <small class="info-form">{{ confirmationValidatorLabel }}</small>
    </div>
  </form>
  <div class="password-button">
    <san-presn-button
      [disabled]="formCreatePassword.invalid"
      (click)="changePassword()"
      [label]="buttonLabel"
    ></san-presn-button>
  </div>
</div>
